@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Unkempt:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: "Roboto", sans-serif;
}

html {
    /* color-scheme: dark light; */
}

body {
    min-height: 100vh;
    background-color: var(--background);
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p {
    max-width: 75ch;
    text-wrap: pretty;
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
        scroll-padding-top: 3rem;
    }
}

:root {
    --text: #050315;
    --background: #fbfbfe;
    --background-secondary: #f7f7fa;
    --primary: #2f27ce;
    --secondary: #dedcff;
    --accent: #433bff;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 12px;
}

.side-panel {
    max-width: 350px;
    width: 100%;
    height: 100vh;
    background-color: var(--background-secondary);
}

.profile-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 24px;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: default;
}

.profile-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: var(--secondary);
}

.notifications {
    display: flex;
    gap: 6px;
}

.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.notification:hover {
    background-color: var(--secondary);
    cursor: pointer;
}

.dashboard-container {
    width: 100%;
    display: flex;
    padding: 12px;
    flex-wrap: wrap;
    gap: 12px;
}

.project-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
}

.project-modal {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;

    form {
        display: flex;
        align-items: center;
        width: 100%;
        border: none;
        padding: 8px 24px;
    }

    input {
        padding: 8px 8px;
        border-radius: 12px 0px 0px 12px;
        border: 2px solid var(--primary);
    }

    button {
        background-color: var(--primary);
        color: white;
        padding: 10px 12px;
        border: none;
        border-radius: 0px 12px 12px 0px;
    }

    input:focus {
        outline: 1px solid var(--primary);
        padding: 7px 8px;
    }
}

.low {
    color: green;
}

.medium {
    color: orange;
}

.high {
    color: red;
}

.button {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;
    border: none;
    padding: 8px 24px;
    border-radius: 16px;
    background-color: var(--background-secondary);
    color: var(--text);
    cursor: pointer;
}

.button:hover {
    background-color: var(--primary);
    color: white;
}

.add-task {
    display: flex;
    align-items: center;
    padding: 8px 18px;
    border-radius: 16px;
    gap: 12px;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
    border: none;
}

.add-task:hover {
    background-color: var(--accent);
}

.main-content {
    width: 100%;
    padding: 24px;
    margin-right: 5rem;
}

.project-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--accent);

    h1 {
        font-size: 24px;
        font-weight: bold;
    }
}

.todos {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    gap: 8px;
}

.todo-item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--secondary);
    padding: 12px;
    border-radius: 16px;
    cursor: default;

    .todo-actions {
        display: flex;
        gap: 12px;
    }

    h1 {
        font-size: 18px;
    }

}

.edit,
.remove {
    cursor: pointer;
}

.edit:hover,
.remove:hover {
    color: var(--accent);
}

.todo-modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 1;

    form {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 24px;
        border: 1px solid var(--accent);
        border-radius: 12px;
        min-width: 400px;
        background-color: var(--background);

        div {
            width: 100%;
        }

        .todo-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        .close:hover {
            cursor: pointer;
            color: var(--accent);
        }

        input {
            width: 100%;
            padding: 8px;
        }

        textarea {
            padding: 8px;
        }

        button {
            padding: 12px;
            background-color: var(--primary);
            color: white;
            border: none;
            border-radius: 18px;
            cursor: pointer;
        }

        button:hover {
            background-color: var(--accent);
        }
    }
}

.hidden {
    display: none;
}
